._layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.-inner {
    position: absolute;
  }

  &.-wrap {
    pointer-events: none;

    > * {
      pointer-events: auto;
    }
  }
}

._wrap {
  flex: 1;
  display: flex;
  max-width: 960px;
  height: 100%;
  margin: auto;
}
