.page-compare {
  display: flex;
  width: 100%; // always pushed to bottom
  margin: 4px;
}

.page-item {
  width: calc((100% / 4) - 8px);
  margin: 4px;
}

.page-grid {
  display: flex;
  flex-flow: wrap;
  margin: 8px;
  padding: 4px;

  &.-small {
    .page-item {
      width: calc((100% / 8) - 8px);
      font-size: 0.5em;
    }
  }
}
