.page-item {
  width: calc((100% / 4) - 8px);
  // min-width: calc((100vw / 4) - 16px);
  // max-width: calc((960 / 4) - 16px);
  margin: 4px;
}

.page-grid {
  display: flex;
  flex-flow: wrap;
  margin: 8px;
  padding: 4px;

  &.-small {
    .page-item {
      width: calc((100% / 8) - 8px);
      // min-width: calc((100vw / 8) - 8px);
      // max-width: calc((960 / 8) - 8px);
      font-size: 0.5em;
    }
  }
}
