//
// # Variable Groups
// =============================================================================

@import 'colors';

//
// # Settings
// =============================================================================

$gutter: 0.5em;
$border: 2px solid $blue-1;
$border-dashed: 2px dashed $blue-2;
$border-radius: 0.5em;
