mixin head-global
  +head({ zoom: false })
    +script('https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.7/vue.js')
    +script('https://cdnjs.cloudflare.com/ajax/libs/vuex/2.0.0/vuex.js')
    +script('https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.3/vue-router.js')
    +script('https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.js')
    +style('main.css')
    block
