include _main

+html
  +head-global

    //- vue component templates
    include components/check/main
    include components/compare/main
    include components/modal/main
    include components/page/main
    include components/pagination/main

  body

    #app.app
      ._layer.-wrap._wrap
        compare
        page
        pagination
      transition(name='fade')
        ._layer.-wrap._wrap(v-if='modal === "compare"')
          modal
            compare_modal

    +script('index.js')
