$black: #000;
$white: #fff;
$gray: rgb(127, 127, 127);

$red:    rgb(223, 31, 47);
$yellow: rgb(223, 159, 31);
$green:  rgb(127, 191, 63);
$blue:   rgb(31, 159, 223);

$blue-1: $blue;
$blue-2: rgba($blue-1, 0.5);
$blue-3: rgba($blue-1, 0.25);

$red-1: $red;
$red-2: rgba($red-1, 0.5);
$red-3: rgba($red-1, 0.25);

$gutter: 0.5em;
$border: 2px solid $blue-1;
$border-dashed: 2px dashed $blue-2;
$border-radius: 0.5em;

$break: 960px / 12;
$break-1: $break * 1;
$break-2: $break * 2;
$break-3: $break * 3;
$break-4: $break * 4;
$break-5: $break * 5;
$break-6: $break * 6;
$break-7: $break * 7;
$break-8: $break * 8;
$break-9: $break * 9;
$break-10: $break * 10;
$break-11: $break * 11;
$break-12: $break * 12;
